<br>
<h3>Select the Question Banks to be included in the Question Paper</h3>
<br>




<table class=" table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Select</th>
            <th>Question Bank Name</th>
            <th>No of Questions</th>
            <th>Author</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let qbank of questionbanks; index as i">
            <td><form #frm="ngForm"><input  type="checkbox" (change)="onChange(qbank.bname,qbank.author, i ,  $event.target.checked)" id="defaultCheck1"></form></td>
            <!-- <td class="app-clickable" [routerLink]="['/view-details', cust.CUSTOMER_ID]">{{ cust.COMPANY_NAME }}</td> -->
            <td>{{ qbank.bname }}</td>
            <td>{{ qbank.no_of_questions }}</td>
            <td>{{ qbank.author }}</td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row">
        <span class="col"></span>
        <button type="button" class="btn btn-primary" [disabled]="service.names.length===0" routerLink="/question-paper-type">Next</button>
    </div>
    <!-- <span class="col"></span> -->
    <!-- <button class="alert text-right" routerLink="/view-all" >Add a new Question</button> -->
</div>